.nav {
  width: 100%;
  position: fixed;
  backdrop-filter: blur(60px);
  background-color: rgba(22, 26, 26, 0.5);
  z-index: 9999;
}

.navInnerContainer {
  max-width: 1400px;
  height: 85px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogoContainer {
  width: 100px;
  height: 45px;
  cursor: pointer;
}

.navBtnContainer {
  width: 465px;
  display: flex;
  align-items: center;
}

/* ///////////////// nav after login */
.navInnerContainerAfetLogin {
  max-width: 1480px;
}

.navLogoContainerAfterLogin {
  width: 88px;
  height: 40px;
  margin-right: 43px;
  cursor: pointer;
}

.navBtnContainerAfterLogin {
  width: 286px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}
.navBtnContainerAfterLogin > :not(:last-child) {
  margin-right: 25px;
}

.searchInputContainer {
  background-image: linear-gradient(45deg, #545658, #535354);
  width: 200px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 16px;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.searchInputContainer > svg {
  cursor: pointer;
  margin-right: 10px;
}
.searchInputContainer:hover {
  border: 1px solid #f1f1f1;
}
.searchInputContainer:focus-within {
  border: 1px solid #f1f1f1;
  width: 250px;
}

.navInput {
  height: 100%;
  width: 88%;
  display: inline-block;
  border: none;
  font-size: 16px;
  color: #fff;
  background: transparent;
}
.navInput:focus {
  outline: none;
}

.navInput::placeholder {
  color: #f1f1f1;
}

.navUserOptions {
  /* width: 121px; because we don't know how long user name will be */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.navUserOptionsUserIcon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 2px solid #fff;
  overflow: hidden;
  cursor: pointer;
}

.afterLoginMiddleNavLinkContainer {
  width: max-content;
  display: flex;
}
.afterLoginMiddleNavLinkContainer > :not(:last-child) {
  margin-right: 40px;
}

.afterLoginMiddleNavActiveLinkBottom {
  display: inline-block;
  width: 67px;
  height: 3px;
  background-image: linear-gradient(to right, #2dceef, #9b2def);
  /* margin-top: 20px; */
  position: absolute;
  bottom: -30px;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ///////////////////// search type */

.searchTypeContainer {
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.searchTypeContainer > :not(:last-child) {
  margin-right: 10px;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
