.artists {
  margin-top: 48px;
}

.artistsInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.artistsContainer {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.artistsContainer > div {
  width: 100%;
  margin: auto;
  transition: all 2s;
}

.artistsContainer > div > :first-child {
  left: 94.5%;
}

.artistsContainer > div button {
  top: -30px;
}

.artistsContainer > div > :last-child {
  right: 1.5%;
}

.artistsContainer > div > div > div {
  transition: -webkit-transform 500ms ease 0s;
}
