.playlistTracksInnerContainer {
  margin-top: 20px;
  min-height: 690px;
  max-height: 80vh;
  /* overflow-y: scroll; */
}
.playlistTracksInnerContainer > :not(:last-child) {
  margin-bottom: 10px;
}

.playlistNameNImage {
  display: flex;
  align-items: center;
}
.playlistNameNImage > :first-child {
  margin-right: 16px;
}

.artistNameContainer > :not(:last-child)::after {
  content: " ,";
  display: inline-block;
}
.artistNameContainer > :not(:last-child) {
  display: inline-block;
  margin-right: 5px;
}
.artistNameContainer {
  padding-right: 10px;
}

.playlistOptionsContainer {
  justify-self: end;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.playlistOptionsContainer > span {
  transition: all 0.2s;
}
.playlistOptionsContainer > span:hover {
  transform: scale(1.09);
}
.playlistOptionsContainer > span:active {
  transform: scale(1);
}

/*/// playlist track */

.playlistTrack {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  border-radius: 4px;
  padding: 0 16px 0 12px;
  cursor: pointer;
  text-align: start;
  transition: all 0.2s;
}

.playlistTrack:hover {
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.123);
}
.activePlaylistTrack,
.activePlaylistTrack:hover {
  background-color: rgba(0, 0, 0, 0.212);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/*////////////////// scroll-bar */

/* width */
.playlistTracksInnerContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.playlistTracksInnerContainer::-webkit-scrollbar-track {
  background: #75757517;
}

/* Handle */
.playlistTracksInnerContainer::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: rgba(155, 155, 155, 0.342);
  border-radius: 4px;
}

/* Handle on hover */
.playlistTracksInnerContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
