.playlistDetailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
  z-index: 999;
  /* background-color: #0404044a; */
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 50%); */
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

.playlistDetailImage {
  min-width: 225px;
  height: 225px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin-right: 40px;
}
.playlistDetailTextContainer {
  max-width: 600px;
}
.playlistDetailTextContainer > :first-child {
  margin-bottom: 10px;
}

.playlistDetailOptionsContainer {
  max-width: 288px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
