.playlist {
  min-height: 100vh;
}
.playlist * {
  z-index: 22;
}
.playlistBackground {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -40px;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
  /* background-image: linear-gradient(
      to right bottom,
      rgba(42, 13, 25, 0.445),
      rgba(29, 9, 44, 0.418)
    ),
    url("https://i.scdn.co/image/ab67616d00001e02d432e58178eb265493086f7d"); */

  /* https://i.scdn.co/image/ab67616d00001e02d432e58178eb265493086f7d */
}

.playlistInnerContainer {
  max-width: 1480px;
  min-height: 100vh;
  position: relative;
  margin: auto;
}

.playlistDetailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
  z-index: 999;
  /* background-color: #0404044a; */
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 50%); */
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

.playlistDetailImage {
  min-width: 225px;
  height: 225px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin-right: 40px;
}
.playlistDetailTextContainer {
  max-width: 600px;
}
.playlistDetailTextContainer > :first-child {
  margin-bottom: 10px;
}

.playlistDetailOptionsContainer {
  max-width: 288px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

/*///////////////////// playlist Tracks Container  */

.playlistTracksContainer {
  max-width: 1480px;
  min-height: 200px;
  z-index: 999;
  /* background-color: #0404044a; */
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 50%); */
  padding: 10px;
}

.playlistTracksHeadingContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
}

.playlistTracksInnerContainer {
  margin-top: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 0 16px 0 12px;
}
.playlistTracksInnerContainer > :not(:last-child) {
  margin-bottom: 10px;
}

.playlistTrack {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  border-radius: 4px;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.playlistTrack:hover,
.activePlaylistTrack {
  background-color: rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.playlistNameNImage {
  display: flex;
  align-items: center;
}
.playlistNameNImage > :first-child {
  margin-right: 16px;
}
.playlistImage {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 14px;
}

.playlistOptionsContainer {
  width: 58px;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlistTracksHeadingTitleHash {
  margin-right: 50px;
}

/*////////////// Playlist Search  */

.playlistSearchContainer {
  margin-bottom: 26px;
}

/*////////////////// scroll-bar */

/* width */
.playlistTracksInnerContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.playlistTracksInnerContainer::-webkit-scrollbar-track {
  background: #75757517;
}

/* Handle */
.playlistTracksInnerContainer::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: rgba(155, 155, 155, 0.342);
  border-radius: 4px;
}

/* Handle on hover */
.playlistTracksInnerContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
