.playlist {
  min-height: 100vh;
}
.playlist * {
  z-index: 22;
}
.playlistBackground {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -40px;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
}

.skeletonContainer {
  margin-bottom: 62px;
}

.playlistInnerContainer {
  max-width: 1480px;
  min-height: 100vh;
  position: relative;
  margin: auto;
}

/*///////////////////// playlist Tracks Container  */

.playlistTracksContainer {
  max-width: 1480px;
  min-height: 200px;
  z-index: 999;
  padding: 10px;
}

/*/ ///////////// Playlist Search  */

.playlistSearchContainer {
  margin-bottom: 26px;
}
