.playlistItem {
  max-width: 225px;
  width: 100%;
  height: 275px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.playlistItemImage {
  width: 100%;
  max-height: 225px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-image: rgb(42 42 42 / 65%);
  overflow: hidden;
  position: relative;
}

.playlistItem:hover .playPauseIcon {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*///////// media queries */

@media only screen and (max-width: 1200px) {
  .playlistItem {
    max-width: 215px;
    height: 270px;
  }
  .playlistItemImage {
    max-width: 215px;
    max-height: 220px;
  }
}

@media only screen and (max-width: 1000px) {
  .playlistItem {
    max-width: 200px;
    height: 250px;
  }
  .playlistItemImage {
    max-width: 200px;
    max-height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .playlistItem {
    max-width: 180px;
    height: 235px;
  }
  .playlistItemImage {
    max-width: 180px;
    max-height: 185px;
  }
}

@media only screen and (max-width: 600px) {
  .playlistItem {
    max-width: 160px;
    height: 215px;
  }
  .playlistItemImage {
    max-width: 160px;
    max-height: 165px;
  }
}

@media only screen and (max-width: 500px) {
  .playlistItem {
    max-width: 151px;
    height: 204px;
  }
  .playlistItemImage {
    max-width: 151px;
    max-height: 151px;
  }
}
