.podcastItem {
  width: 225px;
  text-align: start;
  cursor: pointer;
  transition: all 0.4s;
}

.podcastItem:hover {
  transform: scale(0.97);
}

.podcastItemImage {
  width: 225px;
  height: 225px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 9px;
  border-radius: 8px;
  overflow: hidden;
}
