.player {
  width: 1480px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5%;
  z-index: 99999;
  backdrop-filter: blur(30px);
}

.player > div {
  position: relative;
  /* max-width: 1480px; */
  margin: auto;
  height: 86px;
  padding: 10px;
  border-radius: 8px;
}

.player > div > :first-child {
  position: absolute;
  width: 40%;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}
.player > div > :last-child {
  height: 100%;
}
.player > div > :last-child > :nth-child(2) {
  margin-bottom: 14px;
}

/* .player > div {
  background-color: transparent !important;
  color: #fff;
}

.player > div > div > * {
  color: #fff;
} */
