.podcastsContainer {
  max-width: 1480px;
  margin: auto;
  margin-bottom: 59px;
}

.podcastsItemContainer {
  width: 100%;
}

/*////////////// featuredEpisodes */

.featuredEpisodesContainer {
  max-width: 1480px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 59px;
}

.featuredEpisodesItemContainer {
  max-width: 1450px;
}

.featuredEpisodesItem {
  width: 422px;
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.4s;
  overflow: hidden;
}
.featuredEpisodesItem:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
  border-radius: 4px;
  overflow: hidden;
  /* border: 1px solid #2a2a2a; */
  border: 1px solid #242424;
}

.featuredEpisodesImage {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-right: 20px;
}

.featuredEpisodesText {
  max-width: 302px;
}

.featuredEpisodesText > :first-child {
  margin-bottom: 9px;
}

/*/////////////////// categoriesContainer  */

.categoriesContainer {
  max-width: 1480px;
  margin: auto;
  margin-top: 60px;
}
.categoriesItemContainer {
  width: 100%;
}
