.searchResult {
  margin-top: 148px;
  min-height: 300px;
  /* background-color: rgba(22, 22, 22, 0.5); */
}

.innerContainer {
  max-width: 1480px;
  height: 100%;
  margin: auto;
  padding: 20px 0px;
}

.searchResultContainer {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .searchResultContainerSpacing {
    column-gap: 20px !important;
    row-gap: 38px !important;
  }
}

@media only screen and (max-width: 400px) {
  .searchResultContainerSpacing {
    column-gap: 10px !important;
    row-gap: 38px !important;
  }
}
