/*////////////// featuredEpisodes */

.featuredEpisodesContainer {
  max-width: 1480px;
  margin: auto;
  margin-bottom: 59px;
}

.featuredEpisodesItemContainer {
  max-width: 1480px;
}

.featuredEpisodesItem {
  width: 225px;
  height: 300px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.4s;
  overflow: hidden;
  /* background-color: rgba(42, 42, 42, 0.3); */
}

.featuredEpisodesImage {
  width: 100%;
  min-width: 100%;
  height: 215px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 3px;
}
.featuredEpisodesImage > span {
  width: 225px;
  min-width: 225px;
  min-height: 225px;
}

.featuredEpisodesText {
  max-width: 302px;
}

/*/////////////////// categoriesContainer  */

.categoriesContainer {
  max-width: 1480px;
  margin: auto;
  margin-top: 60px;
}
.categoriesItemContainer {
  width: 100%;
}
