.artist {
  margin-top: 148px;
  min-height: 100vh;
}
.artist * {
  z-index: 5;
}

.innerContainer {
  max-width: 1480px;
  margin: auto;
}

.artistDetailsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
}

.artistDetailImageContainer {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-image: rgb(42 42 42 / 65%);
  overflow: hidden;
}

.artistDetailTextContainer {
  max-width: 600px;
  margin-left: 40px;
  text-transform: capitalize;
}

.addToFavIconContainer {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.playlistBackground {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -40px;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
}

.artistDetailOptionsContainer {
  max-width: 288px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.artistDetailFollowersContainer {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  word-spacing: 5px;
}

/*///////////////////// playlist Tracks Container  */

.tracksContainer {
  max-width: 1480px;
  min-height: 200px;
  z-index: 999;
  padding: 10px;
  margin: auto;
  margin-bottom: 76px;
  text-align: center;
}
.tracksContainer > * {
  z-index: 5;
}

.tracksHeadingContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 25.5% 24.3% 25% 25%;
  align-items: start;
  text-align: start;
}

.tracksHeadingTitleHash {
  margin-right: 40px;
}

/*////////////// Playlist Search  */

.playlistSearchContainer {
  margin-bottom: 26px;
}

/*//////////////////////////// album container  */

.albumContainer {
  max-width: 1480px;
  margin: auto;
  text-align: center;
  margin-bottom: 48px;
}

.albumItemContainer {
  width: 100%;
}

.artistNameContainer {
  padding-right: 10px;
}

.artistNameContainer > :not(:last-child)::after {
  content: " ,";
  display: inline-block;
}
.artistNameContainer > :not(:last-child) {
  display: inline-block;
  margin-right: 4px;
}
