.artist {
  margin-top: 148px;
  min-height: 100vh;
}
.artist * {
  z-index: 5;
}

.innerContainer {
  max-width: 1480px;
  margin: auto;
}

.artistDetailsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
}

.artistDetailImageContainer {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-image: rgb(42 42 42 / 65%);
  overflow: hidden;
}

.artistDetailTextContainer {
  max-width: 600px;
  margin-left: 40px;
  text-transform: capitalize;
}

.addToFavIconContainer {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.playlistBackground {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -40px;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
}

.artistDetailOptionsContainer {
  max-width: 288px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.artistDetailFollowersContainer {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  word-spacing: 5px;
}

/*///////////////////// playlist Tracks Container  */

.tracksContainer {
  max-width: 1480px;
  min-height: 200px;
  z-index: 999;
  padding: 10px;
  margin: auto;
  margin-bottom: 76px;
  text-align: center;
}
.tracksContainer > * {
  z-index: 5;
}

.tracksHeadingContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 25.5% 24.3% 25% 25%;
  align-items: start;
  text-align: start;
}

.tracksInnerContainer {
  margin-top: 20px;
  min-height: max-content;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  position: relative;
  z-index: 5;
}

.tracksInnerContainer > :not(:last-child) {
  margin-bottom: 10px;
}

.track {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  border-radius: 4px;
  padding: 0 16px 0 12px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: start;
}

.track:hover {
  background-color: rgba(0, 0, 0, 0.192);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.123);
}
.activetrack,
.activetrack:hover {
  background-color: rgba(0, 0, 0, 0.212);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.playlistNameNImage {
  display: flex;
  align-items: center;
}
.playlistNameNImage > :first-child {
  margin-right: 16px;
}
.playlistImage {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 14px;
}

.playlistOptionsContainer {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playlistOptionsContainer > span {
  transition: all 0.2s;
}
.playlistOptionsContainer > span:hover {
  transform: scale(1.09);
}
.playlistOptionsContainer > span:active {
  transform: scale(1);
}

.tracksHeadingTitleHash {
  margin-right: 50px;
}

/*////////////// Playlist Search  */

.playlistSearchContainer {
  margin-bottom: 26px;
}

/*////////////////// scroll-bar */

/* width */
.tracksInnerContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.tracksInnerContainer::-webkit-scrollbar-track {
  background: #75757517;
}

/* Handle */
.tracksInnerContainer::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: rgba(155, 155, 155, 0.342);
  border-radius: 4px;
}

/* Handle on hover */
.tracksInnerContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*//////////////////////////// album container  */

.albumContainer {
  max-width: 1480px;
  margin: auto;
  text-align: center;
  margin-bottom: 48px;
}

.albumItemContainer {
  width: 100%;
}

.artistNameContainer {
  padding-right: 10px;
}

.artistNameContainer > :not(:last-child)::after {
  content: " ,";
  display: inline-block;
}
.artistNameContainer > :not(:last-child) {
  display: inline-block;
  margin-right: 4px;
}
