.displayFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*//////////// new releases  */
.newReleases {
  margin-top: 148px;
  margin-bottom: 47px;
  padding: 0 26px;
}

.newReleasesInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.newReleasesItemContainer {
  width: 100%;
  display: flex;
  /* overflow: hidden; */
  align-items: center;
  padding-bottom: 10px;
}

/* .newReleasesItemContainer > :not(:last-child) {
  margin-right: 26px;
} */

.newReleasesItemContainer > div {
  width: 100%;
  margin: auto;
  transition: all 2s;
}

.newReleasesItemContainer > div > :first-child {
  left: 94.5%;
}

.newReleasesItemContainer > div button {
  top: -30px;
}

.newReleasesItemContainer > div > :last-child {
  right: 1.5%;
}

.newReleasesItemContainer > div > div > div {
  transition: -webkit-transform 500ms ease 0s;
  display: flex;
}

.newReleasesItemContainer > div > div > div > * {
  margin-right: 22px;
  min-width: 225px;
}

/*/////////////// browse section  */

.browse {
  margin-top: 48px;
  margin-bottom: 47px;
  padding: 0 26px;
}

.browseInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.browseItemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  overflow-y: auto;
}

.browseItemContainer > :not(:last-child) {
  margin-right: 26px;
}
.browseItem {
  width: 225px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*///////////////// playlist */

.playlist {
  margin-top: 48px;
  margin-bottom: 47px;
  padding: 0 26px;
}

.playlistInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.playlistItemContainer {
  margin-top: 20px;
  display: flex;
  overflow: auto;
}
.playlistItemContainer > :not(:last-child) {
  margin-right: 26px;
}

/*///////// scroll-bar */
/* width */
.browseItemContainer::-webkit-scrollbar,
.playlistItemContainer::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/*///////// media queries */

@media only screen and (max-width: 1200px) {
  .newReleasesItemContainer > div > :first-child {
    left: 93.5%;
  }
  .newReleasesItemContainer > div > div > div > * {
    min-width: 215px;
  }
}

@media only screen and (max-width: 1000px) {
  .newReleasesItemContainer > div > :first-child {
    left: 92.5%;
  }
  .newReleasesItemContainer > div > div > div > * {
    min-width: 200px;
  }
  .playlistItemContainer > :not(:last-child) {
    margin-right: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .newReleasesItemContainer > div > :first-child {
    left: 91.5%;
  }
  .browseItemContainer > :not(:last-child) {
    margin-right: 24px;
  }
  .newReleasesItemContainer > div > div > div > * {
    min-width: 180px;
  }
  .playlistItemContainer > :not(:last-child) {
    margin-right: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .newReleasesItemContainer > div > :first-child {
    left: 88%;
  }
  .browseItemContainer > :not(:last-child) {
    margin-right: 22px;
  }
  .newReleasesItemContainer > div > div > div > * {
    min-width: 160px;
  }
  .playlistItemContainer > :not(:last-child) {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .newReleasesItemContainer > div > :first-child {
    left: 86%;
  }
  .browseItemContainer > :not(:last-child) {
    margin-right: 20px;
  }
  .newReleasesItemContainer > div > div > div > * {
    min-width: 151px;
  }
}
