.displayFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*//////////// new releases  */
.newReleases {
  margin-top: 148px;
  margin-bottom: 47px;
}

.newReleasesInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.newReleasesItemContainer {
  width: 100%;
  display: flex;
  /* overflow: hidden; */
  align-items: center;
  padding-bottom: 10px;
}

/* .newReleasesItemContainer > :not(:last-child) {
  margin-right: 26px;
} */

.newReleasesItemContainer > div {
  width: 100%;
  margin: auto;
  transition: all 2s;
}

.newReleasesItemContainer > div > :first-child {
  left: 94.5%;
}

.newReleasesItemContainer > div button {
  top: -30px;
}

.newReleasesItemContainer > div > :last-child {
  right: 1.5%;
}

.newReleasesItemContainer > div > div > div {
  transition: -webkit-transform 500ms ease 0s;
}

/*/////////////// browse section  */

.browse {
  margin-top: 48px;
  margin-bottom: 47px;
}

.browseInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.browseItemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.browseItemContainer > :not(:last-child) {
  margin-right: 26px;
}
.browseItem {
  width: 225px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*//////////////////// podcasts section */

.podcasts {
  margin-top: 48px;
  margin-bottom: 47px;
}

.podcastsInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.podcastsItemContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.podcastsItemContainer > :not(:last-child) {
  margin-right: 26px;
}

.podcastItem {
  min-width: 225px;
  max-width: 225px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*///////////////// playlist */

.playlist {
  margin-top: 48px;
  margin-bottom: 47px;
}

.playlistInnerContainer {
  max-width: 1480px;
  margin: auto;
}

.playlistItemContainer {
  margin-top: 20px;
  display: flex;
}
.playlistItemContainer > :not(:last-child) {
  margin-right: 26px;
}
